<section class="container">
    <section class="d-flex justify-content-between mt-4">
        <h2>Página inicial dos Produtos</h2>
        <a href="/produto/create" class="btn btn-primary">Cadastrar novo Produto</a>
    </section>

</section>

<hr> 

<section class="my-4">
    <table class="table table-striped" >
        <thead>
            <tr>
                <th>id</th>
                <th>nome</th>
                <th>preço</th>
                <th>estoque</th>
            </tr>
        </thead>

        <tbody>
            {{!-- o each é um recurso do handlebars que permite que tags sejam repetidas, ele funciona como uma estrutura de repetição --}}
            {{#each dados}}
            <tr>
                <td>{{dataValues.id}}</td>
                <td>{{dataValues.nome}}</td>
                <td>{{dataValues.preco}}</td>
                <td>{{estoque.dataValues.armazenamento}}</td>
                <td>
                    <a href="" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal{{dataValues.id}}">Excluir</a>
                </td>
            </tr>

            {{>modalDelete idItem = dataValues.id}}

            {{/each}}
        </tbody>
    </table>
    
</section>
<footer style="background-color: #02265b; width: 100%; bottom: 0; position: absolute;" class="text-white py-1">
  <section style="color: aliceblue;">
    <div class="text-center">
      <p class="my-2">Todos os direitos reservados &copy; 2024</p>
    </div>
  </section>
</footer>